<script type="text/x-handlebars" data-template-name="articles">

    <div class="container">
    {{#each article in model}}
      
      <article class="row article">
        <span class="title">{{article.title}}</span>
        <span class="uploader">{{article.userName}}</span>
        <span class="domain">{{domain article.url}}</span>
        <div class="excerpt">{{article.excerpt}}</div>
      </article>
      
    {{/each}}
    </div>

  
</script>