<script type="text/x-handlebars" data-template-name="articles">

    <header class="header">
      <h1>Hot on Digg-like</h1>
    </header>

    <div class="container">
    {{#each article in model}}
      
      <article class="row article">
        <div class="three columns">
          <div class="vote_box">
          <span class="vote_count">{{article.voteCount}}</span>
          {{#if article.userVoted}}
            <a class="vote_button"{{action 'unvote' article}}>Unvote!</a>
          {{else}}
            <a class="vote_button"{{action 'vote' article}}>Vote!</a>
          {{/if}}
          </div>
        </div>
        <div class="nine columns">
          {{#link-to 'article' article}}<span class="title">{{article.title}}</span>{{/link-to}}
          <span class="uploader">{{article.userName}}</span>
          <span class="domain">{{domain article.url}}</span>
          <span class="comments_count">{{article.comments.length}}</span>
          <div class="excerpt">{{article.excerpt}}</div>
        </div>
      </article>
      
    {{/each}}
    </div>

  
</script>


<script type="text/x-handlebars" data-template-name="article">
{{#link-to 'articles'}}Back{{/link-to}}
<article class="container">
  <header>
    <h1>{{title}}</h1>
    <h2>{{domain url}}<small>{{moment createdAt}}</small></h2>
    <span class="comments_counter">{{comments.length}}</span>
  </header>
  <div>{{excerpt}}</div>
  <div class="comments_list">
    {{#each comment in comments}}
      <article class="comment_container">
        <header>
        <span class="comment_user_name">{{comment.userName}}</span>
        <span class="comment_created_at">{{moment comment.createdAt}}</span>
        </header>
        <div class="comment_content">
        {{comment.content}}
        </div>
      </article>
    {{/each}}
  </div>
</article>
</script>