.article {

    width: 100%;
    padding: 10px;

    .title {
        font-weight: bold;
    }

    .domain {
        color: blue;
    }

    .uploader {
        color: pink;
    }

}

.articles-list {

    list-style: none;
    
}