.article {

    width: 100%;
    padding: 10px;

    .title {
        font-weight: bold;
    }

    .domain {
        color: blue;
    }

    .uploader {
        color: pink;
    }

}

.vote_box {

    background-color: yellow;
    height: 100px;
    width: 100px;
    margin: auto;
    margin-top: 20px; 

}

.articles-list {

    list-style: none;
    
}