
.comments_list {

    margin-top: 40px !important;
    margin-bottom: 60px !important;

}

.comment {

    
    margin-top: 10px;
    margin-bottom: 10px;

    .user_name {
        font-weight: bold;
    }

    .created_at {
        font-size: smaller;
        color: grey;
        padding-left: 10px;
        padding-right: 10px;
    }

    .content {

    }

}